<center><%= form_for @question, url: questions_path do |f| %>
	<% if @question.errors.any? %>
	 <% @question.errors.full_messages.each do |msg| %>
	 	<li><%=msg%></li>
	   <%end%>
	 <%end%>
	<%= render 'questions/form', f:f%>
<%end%></center>
