body {
background: image-url('123.jpg') repeat;
}

body a{
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    color: #0e8ce4;
    background-color: transparent;
    transition: 0.3s ease;
  }
}

.navbar {
width: auto;
  margin-bottom: 0;
  background-color: ghostwhite ;
}

.navbar-airtest {
  border-color: #e7e7e7;
  border-radius: 0px;
}


@media (min-width: 768px) {
  .nav {
    padding-top: 17px;
    padding-bottom: 19px;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #a19a9a;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease;
  }
}

.nav > li > a {
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    color: #0e8ce4;
    background-color: transparent;
    transition: 0.3s ease;
  }
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  .button {
    background-color: #4CAF50;
    border: none;
    collor: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;    
  }
 font{
  font-weight:bold;
 } 
}

.tests{
  
  .button {
    width:120px;
    background-color: blue;
    border: 0.1px solid black;
    collor: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;    
  }
  .red {
    border-radius: 10px;  
    background-color: red;
    width:120px;
    border: 0.1px solid black;
    collor: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.green {
    border-radius: 10px;
    background-color: green;
    width:120px;
    border: 0.1px solid black;
    collor: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  font{
  font-weight:bold;
 } 
}
button {
background: none;
background-clip: padding-box;
display: inline-block;
border: 0;
user-select: none;
-webkit-touch-callout: none;
-webkit-appearance: button;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}

.modal-content{
  background: image-url('124.jpg') repeat;
  collor: black;
  h4{
    font-weight: 800;
  }
}


.question_block {
    text-align: center;
    margin: 5px 0px;
  a {
    button {
      color: white;
      font-weight: 800;
    }
  }
}


.main{
  margin:50px 15px;
}

.form-group{
  margin-bottom: 15px;
}

.link-group {
  margin-bottom: 15px;
  a{
  color: #f2fdfd;
  }
}

label{
  margin-bottom: 15px;
}

.main-center{
  border-radius: 20px;
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
    padding: 10px 40px;
  background:#009edf;
      color: #FFF;
    text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}

#button {
    border: 1px solid #ccc;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}



.cust-btn{
  margin-bottom: 10px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: grey;
  color: black;
}
